/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0;
}

/* Top-bannerstyle */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-banner{
    background-color: #2D25A0;
    width: 100%;
   display: grid;
   grid-template-columns: repeat(2,1fr);
    margin-bottom: 85px;
}
.banner-title{
    width: 485px;
     height: 230px;


}
.banner-text{
    width: 485px;
     height: 230px;
    color:#FFFFFF;
    font-size: 36px;
    margin-left: 156px;
}
.button{
    text-decoration: none;
    background-color: #E02C6D;
    color: white;
    width: 168px;
    height: 44px;
    margin-left: 156px;
    font-size: 40px;
    font-weight: 500px;
    padding-left: 24px;
    padding-right: 56px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}
.banner-image{
    margin-left: 126px;
}
.banner-image img{
    width: 556.01px;
    height: 438px;
}

     /* TOp-banner-Animation */
     .banner-image{
        transition: transform 3s ease-in;
     }
     .top-banner:hover .banner-image {
        transform: rotate(360deg);
     }

/* players-style */
.players{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.player{
    width: 330px;
    height: 474px;
    margin-left: 30px;
    margin-top: 27px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

}
.player img{
    width: 300px;
    height: 256px;
}

/*--------------- article--------------- */
article{
    margin-top: 165px;
    display: flex;
    margin-bottom: 158px;
}
.blog{
    width: 469px;
height: 309px;
}
.blog{
    margin-left: 66px;
}
.blog img{
    width: 567px;
height: 427px;
}
  /* Newses-style */

  .newses{
      display: flex;
  }
  .news{

    width: 469px;
    height: 309px;
    margin-left: 30px;
  }
  .news img{
    width: 480px;
    height: 427px;
    border-radius: 20px;

  }


  /* top-teams-style */

    .top-teams{
        display: flex;
        height: 500px;
    }
    .teams{
        margin-right: 100px;
    }
    .teams h1{
        font-size: 36px;
    }
.team-flags{
    display: grid;
    grid-template-columns: 1fr;
}
.team{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
margin-bottom: 10px;
}
.team h1{
    margin-left: 20px;
}
.team img{
    width: 200px;
    height: 100px;
}


/* Footer-style */
.contacts{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items:center;

}
.contacts img{
    width: 483.87px;
height: 110px;
}
.link{
    text-decoration: none;
   font-size: 30px;
   color: #969BAB;

   
}

/* Media-Queries */
@media only screen and (max-width:688px) {
      .top-banner{
        width: 1300px;
        display: flex;
        flex-direction: column;
        align-items:center;
      }  
      .banner-text{
        font-size: 64px;

      }



     .players{
         display:grid;
         grid-template-columns: repeat(1,  1fr);
         align-content: center;
     }
    
}